/* Tipografía */
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2322424/NHaasGroteskRegular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: #ffffff;
  --primary: #000000;
  --hover: #1985dd;
  /* Typography */
  --font-family: "NeueHaasGrotesk";
}

/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/

/* Nav */
.nav {
  font-family: "neueregular";
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*  grid-template-columns: 200px 100px 1fr */
}
.nav a {
  font-family: "neueregular";
  font-size: 20px;
  color: black;
  flex: 1 1 auto;
}

.nav a {
  padding: 2em 1.4em;
}

/*
.nav a:nth-child(2) {
  padding: 2em 3.4em;
}

.nav a:nth-child(3) {
  padding: 2em 10em;
}

*/
/* Main */
.main {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "about proyectos imagenes-proyectos";
  justify-items: center;
  padding-top: 40px;
}

/* Proyectos */

.about {
  grid-area: about;
  padding-left: 2em;
}

.proyectos {
  grid-area: proyectos;
}

.imagenes-proyectos {
  grid-area: imagenes-proyectos;
}

/****************************************
*    Helpers
*****************************************/
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ayuda visual temporal */
.outline {
  border: 2px dotted blue;
}
