/* Tipografía */
@font-face {
    font-family: "neueregular";
    src: url("assets/fonts/NeueHaasGrotesk-Regular.woff") format ("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "neuebold";
    src: url("assets/fonts/NeueHaasGrotesk-Bold.woff") format ("woff");
    font-weight: bold;
    font-style: bold;
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colors */
  --background: #ffffff;
  --primary: #000000;
  --hover: #1985dd;
  /* Typography */
  --font-family: "neueregular";
}

/* Resets */
html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}blockquote,body,figure,h1,h2,h3,h4,h5,h6,hr,li,ol,pre,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{color:inherit;font:inherit;letter-spacing:inherit}button,input,textarea{border:1px solid gray}button{border-radius:0;padding:.75em 1em;background-color:transparent}button *{pointer-events:none}embed,iframe,img,object,video{display:block;max-width:100%}table{table-layout:fixed;width:100%}[hidden]{display:none}noscript{display:block;margin-bottom:1em;margin-top:1em}


/****************************************
*    Base - Elements
*****************************************/
html {
  height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

/* Tipografía */
p {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

h4 {
  font-size: 1.2em;
  line-height: 1;
}

/* Tipografía responsiva */
/* https://css-tricks.com/snippets/css/fluid-typography */
body {
  font-size: calc(16px + (20 - 16) * ((100vw - 720px) / (1400 - 720)));
}

/****************************************
*    Componentes
*****************************************/

/* Nav */
.nav {
  font-family: "neueregular";
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.nav a {
  font-family: "neueregular";
  text-align: center;
  font-size: 20px;
  color: black;
  flex: 1 1 auto;
}

/* Main */
.main {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "about proyectos imagenes-proyectos";
  justify-items: center;
  padding-top: 40px;
}

/* Proyectos */

.about {
  grid-area: about;
  padding-left: 2em;
}

.proyectos {
  grid-area: proyectos;
}

.imagenes-proyectos {
  grid-area: imagenes-proyectos;
}
